Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
defusedxml==0.7.1
gallery_dl==1.27.0
idna==3.7
ifaddr==0.2.0
librespot==0.0.9
mutagen==1.47.0
protobuf==3.20.1
pyaes==1.6.1
pycryptodomex==3.17
PyOgg==0.6.14a1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.30.0
TgCrypto==1.2.5
urllib3==2.2.1
websocket-client==1.5.1
websockets==12.0
yt-dlp==2024.5.27
zeroconf==0.62.0
